@use '../variables' as vars;

.about-us{
    display: flex;
    flex-direction: column;
    gap: 100px;

    .about-us__top{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 100px;

        .about-us__top__graphics{
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 20px;

            .about-us__top__graphics__text{
                width: 100%;
                height: 100%;
                padding: 45px 30px;
                display: flex;
                align-items: flex-end;
                background-color: vars.$blue;
                color: white;
                font-weight: 700;
                font-size: 42px;
                line-height: 129%;
                box-sizing: border-box;
            }

            .about-us__top__graphics__img{
                

                img{   
                    width: 100% ;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .about-us__top__graphics__img:last-child{
                width: 100%;
                grid-column: span 2;
            }
        }

        .about-us__top__description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 75%;

            .h2{
                color: vars.$blue-dark;
                margin-bottom: 30px;
            }

            p{
                margin-bottom: 30px;
            }

            .button{
                align-self: flex-start;
            }
        }
    }

    .about-us__cases{
        display: grid;
        grid-template-columns: 33% 33% 33%;

        .about-us__cases__card{
            padding: 65px 40px;
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 40px;
            box-sizing: border-box;
            box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);

            .about-us__cases__card__top{
                display: flex;
                align-items: center;
                gap: 30px;

                span{
                    height: 100%;
                    border-left: 2px solid vars.$gray;
                }
            }
        }

        .about-us__cases__card:not(:first-child){
            margin-left: 30px;
        }
    }
}

@media screen and (max-width: 1350px) {

    .about-us{

        .about-us__top{
            display: flex;
            flex-direction: column;

            .about-us__top__graphics{
                width: 100%;
                justify-content: center;

                .about-us__top__graphics__text{
                    font-size: 30px;
                }

                div{
                    height: 200px;
                }
            }
        }

        .about-us__cases{
            grid-template-columns: 50% 50%;
            gap: 30px;

            .about-us__cases__card:not(:first-child){
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width: 1000px){

    .about-us{

        .about-us__cases{
            display: flex;
            flex-direction: column;

            .about-us__cases__card{

                .about-us__cases__card__top{

                    span{
                        height: 45px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px){

    .about-us{
        
        .about-us__top{
            gap: 50px;

            .about-us__top__graphics{
                display: flex;
                flex-direction: column;
            }

            .about-us__top__description{
                max-width: 100%;
            }
        }
    }
}