@use '../variables' as vars;

.block-with-picture{
    width: 100vw;
    height: 748px;
    background-color: black;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    overflow: hidden;

    .picture{
        width: 430px;
        height: 100%;
        position: absolute;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    .block-with-picture__content{
        height: 100%;
        margin-left: 430px;
        margin-right: 215px;
        padding: 70px;
        display: flex;
        align-items: center;
        color: white;

        .block-with-picture__content__title{
            display: flex;
            flex-direction: column;
            gap: 62px;

            span{
                width: 58px;
                border-bottom: 3px solid white;
            }

            .button{
                align-self: start;
            }
        }

        .block-with-picture__content__steps{
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 47px;

            .step{
                display: flex;
                gap: 40px;

                .step__number{
                    min-width: 85px;
                    min-height: 85px;
                    max-width: 85px;
                    max-height: 85px;
                    background-color: white;
                    border-radius: 100%;
                    color: vars.$blue;
                    font-weight: 500;
                    font-size: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }

                // .step__number:after{
                //     content: "";
                //     height: 80px;
                //     position: absolute;
                //     bottom: -85px;
                //     border-width: 2px;
                //     border-color: vars.$dark-white;
                //     border-style: dashed;
                //     border-radius: 5px;
                //     opacity: 0.5;
                // }
            }

            .step:nth-child(2n){

                .step__number{
                    background-color: vars.$blue;
                    color: vars.$dark-white;
                }
            }

            // .step:first-child{

            //     .step__number:before{
            //         content: "";
            //         height: 80px;
            //         position: absolute;
            //         top: -82px;
            //         border-width: 2px;
            //         border-color: vars.$dark-white;
            //         border-style: dashed;
            //         border-radius: 5px;
            //         opacity: 0.5;
            //     }
            // }

            .step__description{

                .step__title{
                    margin-bottom: 20px;
                    font-weight: bold;
                }
            }
        }

        .block-with-picture__content__steps::before{
            content: "";
            width: 2px;
            left: 40px;
            height: 100%;
            background: linear-gradient(0deg, #000000, #4a4a4a, #9e9e9e, #ffffff, #9e9e9e, #4a4a4a, #000000);
            mask: repeating-linear-gradient(
                0deg,
                transparent 0,
                transparent 5px,
                #000 14px,
                #000 10px
            );
            position: absolute;
            border: 2px dashed transparent;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 1550px){
    .block-with-picture{
        height: 100%;

        .block-with-picture__content{
            margin-right: 120px;
        }
    }
}

@media screen and (max-width: 1250px){
    .block-with-picture{

        .picture{
            display: none;
        }
    
        .block-with-picture__content{
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 900px){

    .block-with-picture{

        .block-with-picture__content{
            flex-direction: column;

            .block-with-picture__content__title{
                margin-bottom: 50px;
                align-items: center;
                text-align: center;
                .button{
                    align-self: center;
                }
            }
        }
    }
    
}