

.full-width-block{
    width: 100vw;
    height: 748px;
    background-image: url('../../assets/full-width.png');
    background-size: cover;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    
    .container{
        height: 100%;
    }

    .statistics{
        width: 100%;
        padding-top: 80px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        color: white;

        .title{
            
            .h2{
                margin-bottom: 24px;
            }

            div{
                width: 65px;
                height: 3px;
                margin: 0 auto;
                background-color: white;
            }
        }

        .result{
            min-height: min-content;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 60px;

            .result-item{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;

                .num{
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 64px;
                }

                span{
                    height: 2px;
                    background-color: white;
                }
            }
        }

        .buttons{
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 1150px){
    .full-width-block{

        .statistics{

            .result{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 600px){
    .full-width-block{
        height: 100%;

        .title{
            text-align: center;
        }

        .statistics{

            .result{
                display: flex;
                flex-direction: column;
            }
        }
    }
}