@use './variables' as vars;
@import url('../fonts/fonts.scss');
@import url('./components/header.scss');
@import url('./components/swiper.scss');
@import url('./components/about-us.scss');
@import url('./components/block-with-picture.scss');
@import url('./components/tabs-block.scss');
@import url('./components/full-width-block.scss');
@import url('./components/footer.scss');

body{
    margin: 0;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    background-color: vars.$dark-white;
    color: black;
    overflow-x: hidden;
}

h1,h2,h3,p{
    margin: 0;
}

h1,.h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 150%;
}

h2,.h2{
    font-weight: bold;
    font-size: 42px;
    line-height: 120%;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 1800px){
    .container{
        max-width: 1100px;
    }
}

@media screen and (max-width: 1150px){
    .container{
        max-width: 800px;
    }
}

.button{
    padding: 16px 30px;
    background-color: vars.$blue-darker;
    color: white;
    border: none;
    border-radius: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 162%;
    text-align: center;
    cursor: pointer;
}

.button_ghost{
    background-color: transparent;
    border: 2px solid white
}

.button_squared{
    border-radius: 0;
}

.section{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 1000px){
    
    .h1,h1{
        font-size: 32px;
    }
}

@media screen and (max-width: 600px){
    
    .h1,h1{
        font-size: 24px;
    }
}